body {
    padding: 0;
    margin: 0;
}

.container {
    text-align: center;
    align-items: center;
    margin: 20px 20px 0px 40px;
}

li {
    list-style-type: none;
    padding: 5px;
    margin-bottom: 10px;
}

#clear {
    background-color: red;
    font-size: 15px;
    display: flex;
    float: right;
    margin-right: 100px;
    color: white;
    padding: 2px 10px;
}

.list-container {
    align-items: center;
}

hr {
    margin-top: 20px;
}
